<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="style" href="/src/assets/font/pretendard/pretendard.css" />
    <link rel="stylesheet" href="/src/assets/font/pretendard/pretendard.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
    <link rel="stylesheet" href="./index.css" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <section class="order-section">
      <h2><strong>&ldquo;네이버 예약&rdquo;</strong> 지금 바로 이용해보세요.</h2>
      <article class="order-section__inner">
        <h3 class="a11y-hidden">이벤트 목록</h3>
        <ul class="order-list">
          <li><a href="/" target="_blank" rel="noopener noreferrer">네이버 주문</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">뷔페</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">공방•클래스</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">놀이공원</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">키즈카페</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">아쿠아리움</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">전시</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">공연</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">펜션</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">헤어샵</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">편의점 택배</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">편의점 배달</a></li>
        </ul>
        <div class="event">
          <a href="/" target="_blank" rel="noopener noreferrer" class="event-link">
            <span class="event-text">
              <span>도심 속 온천스파!</span>
              <strong>웅진플레이도시</strong>
              <span>3월 22일 호우7시</span>
            </span>
            <figure class="event-img">
              <img src="/images/event_img.png" alt="" role="presentation" />
              <figcaption class="a11y-hidden">웅진플레이도시 이벤트 이미지</figcaption>
            </figure>
          </a>
        </div>
      </article>
      <article class="get-news">
        <h3 class="a11y-hidden">예약 소식 받기 영역</h3>
        <p>예약/주문 스마트봇</p>
        <button type="button">예약 소식 받기</button>
      </article>
    </section>
  </body>
</html>
