<!doctype html>
<html lang="ko-KR">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="style" href="/src/assets/font/pretendard/pretendard.css" />
    <link rel="stylesheet" href="/src/assets/font/pretendard/pretendard.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
    <script type="module" src="/src/components/Button/index.js"></script>
  </head>
  <body>
    <c-button></c-button>
  </body>
</html>
