<!doctype html>
<html lang="ko-KR">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="preload" as="style" href="/src/assets/font/pretendard/pretendard.css" />
    <link rel="stylesheet" href="/src/assets/font/pretendard/pretendard.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
    <link rel="stylesheet" href="./list.css" />
    <!-- <script type="module" src="./list.js"></script> -->
  </head>
  <body>
    <div class="v168_4318">
      <div class="v168_4193">
        <div class="name"></div>
        <div class="name"></div>
        <div class="v107_3872">
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
        </div>
      </div>
      <div class="v107_3888">
        <span class="v107_3889">이벤트,혜택 알림을 받아보세요!</span>
        <div class="v107_3890">
          <div class="name"></div>
          <span class="v107_3892">알림받기</span>
        </div>
      </div>
      <div class="name"></div>
      <div class="v168_4195">
        <div class="v163_3386">
          <div class="v107_3931">
            <div class="name"></div>
            <div class="v107_3908">
              <span class="v107_3905">서울 마포구 동교로 27길 20</span>
              <div class="name"></div>
            </div>
            <div class="v107_3916">
              <div class="name"></div>
              <span class="v107_3915">거리뷰</span>
            </div>
          </div>
          <div class="v163_3382">
            <div class="v157_3369"><span class="v157_3367">2</span></div>
            <div class="v157_3376"><span class="v157_3377">공항</span></div>
            <div class="v163_3380"><span class="v163_3381">경의중앙</span></div>
            <div class="v107_4812"><span class="v107_4813">홍대입구역 2번 출구에서 314m</span></div>
          </div>
        </div>
        <div class="v107_3932">
          <div class="name"></div>
          <div class="v107_3934">
            <span class="v107_3935">영업 중 • 01:00에 영업 종료</span>
            <div class="name"></div>
          </div>
        </div>
        <div class="v107_4080">
          <div class="name"></div>
          <div class="v107_4082"><span class="v107_4083">02-336-4496</span></div>
          <div class="v107_4085">
            <div class="name"></div>
            <span class="v107_4087">복사</span>
          </div>
        </div>
        <div class="v107_4220">
          <div class="name"></div>
          <div class="v107_4222"><span class="v107_4223">제로페이</span></div>
        </div>
        <div class="v107_4414">
          <div class="name"></div>
          <div class="v107_4416">
            <span class="v107_4417">단체석, 포장, 예약, 남/녀 화장실 구분</span>
          </div>
        </div>
        <div class="v107_4811">
          <div class="name"></div>
          <span class="v107_4795"
            >돼지 곱창과 소 곱창을 맛볼 수 있는 곳. 매콤한 양념에 볶 아져 나오는 야채곱창과 곱이 꽉
            차 있는 소 곱창 구이를 추천할만하다. 특히 소 곱창은 부추와 함께 구워주는데 그 맛이 가히
            일품이다.</span
          >
          <div class="name"></div>
        </div>
        <div class="v107_4814">
          <div class="name"></div>
          <div class="v107_4816">
            <span class="v107_4817">정보 수정 제안하기</span>
            <div class="name"></div>
          </div>
        </div>
      </div>
      <div class="v164_3475">
        <div class="v163_3389">
          <span class="v163_3387">메뉴10</span><span class="v163_3388">메뉴판 이미지로 보기</span>
        </div>
        <div class="v164_3446">
          <div class="v164_3419">
            <div class="name"></div>
            <div class="name"></div>
          </div>
          <div class="v178_3451">
            <div class="name"></div>
            <div class="name"></div>
          </div>
        </div>
        <div class="name"></div>
      </div>
      <div class="v164_3474">
        <div class="v164_3469">
          <span class="v164_3466">방문자 사진</span>
          <div class="v164_3468">
            <div class="v164_3451">
              <div class="v164_3448"></div>
              <div class="v164_3449"></div>
              <div class="v164_3450"></div>
            </div>
            <div class="v164_3453">
              <div class="v164_3454"></div>
              <div class="v164_3455"></div>
              <div class="v164_3456"></div>
            </div>
            <div class="v164_3457">
              <div class="v164_3458"></div>
              <div class="v164_3459"></div>
              <div class="v164_3460"></div>
            </div>
          </div>
        </div>
        <div class="name"></div>
      </div>
      <div class="v166_3658">
        <div class="v164_3534">
          <span class="v164_3529">방문자 리뷰 2,315</span>
          <div class="v164_3533">
            <div class="name"></div>
            <span class="v164_3530">나도 참여</span>
          </div>
        </div>
        <div class="v166_3657">
          <div class="v166_3624">
            <div class="v166_3623"></div>
            <span class="v166_3626">😜 “음식이 맛있어요"</span><span class="v166_3627">1424</span>
          </div>
          <div class="v166_3628">
            <div class="v166_3629"></div>
            <span class="v166_3630">💗 “친절해요"</span><span class="v166_3631">951</span>
          </div>
          <div class="v166_3644">
            <div class="v166_3645"></div>
            <span class="v166_3646">🌱 “재료가 신선해요"</span><span class="v166_3647">607</span>
          </div>
          <div class="v166_3648">
            <div class="v166_3649"></div>
            <span class="v166_3650">🍚 “양이 많아요"</span><span class="v166_3651">435</span>
          </div>
          <div class="v166_3652">
            <div class="v166_3653"></div>
            <span class="v166_3654">👀 “매장이 넓어요"</span><span class="v166_3655">324</span>
          </div>
        </div>
      </div>
      <div class="v168_4197">
        <div class="v166_3748">
          <div class="v166_3752">
            <div class="v166_3753">
              <span class="v166_3754"
                >마포 최고의 곱창집 👍👍 소곱창과 돼지 양념곱창을 함께 먹을 수 있는 소주 무한대로
                부르는 집 😍😍 소곱창 언제나 맛있구요~ 기름칠 된 부추에 마늘간장소스에 찍어먹으면
                너무 맛있어요</span
              >
            </div>
          </div>
          <div class="name"></div>
          <div class="name"></div>
        </div>
        <div class="v168_3815">
          <div class="v168_3816">
            <div class="v168_3817">
              <span class="v168_3818"
                >마포 최고의 곱창집 👍👍 소곱창과 돼지 양념곱창을 함께 먹을 수 있는 소주 무한대로
                부르는 집 😍😍 소곱창 언제나 맛있구요~ 기름칠 된 부추에 마늘간장소스에 찍어먹으면
                너무 맛있어요</span
              >
            </div>
          </div>
          <div class="name"></div>
          <div class="name"></div>
        </div>
        <div class="v168_3830">
          <div class="v168_3831">
            <div class="v168_3832">
              <span class="v168_3833"
                >마포 최고의 곱창집 👍👍 소곱창과 돼지 양념곱창을 함께 먹을 수 있는 소주 무한대로
                부르는 집 😍😍 소곱창 언제나 맛있구요~ 기름칠 된 부추에 마늘간장소스에 찍어먹으면
                너무 맛있어요</span
              >
            </div>
          </div>
          <div class="name"></div>
          <div class="name"></div>
        </div>
        <div class="name"></div>
      </div>
      <div class="v168_3936">
        <div class="v168_3848">
          <span class="v168_3845">이 장소가 포함된 테마리스트 1</span>
          <div class="name"></div>
        </div>
        <div class="v168_3935">
          <div class="name"></div>
          <div class="v168_3934">
            <div class="v168_3874">
              <div class="name"></div>
              <div class="v168_3876">
                <div class="name"></div>
                <span class="v168_3878">마포곱창타운</span>
              </div>
            </div>
            <div class="v168_3887">
              <div class="name"></div>
              <div class="v168_3889">
                <div class="name"></div>
                <span class="v168_3891">피자오</span>
              </div>
            </div>
            <div class="v168_3900">
              <div class="name"></div>
              <div class="v168_3902">
                <div class="name"></div>
                <span class="v168_3904">다운타우너</span>
              </div>
            </div>
          </div>
          <div class="v168_3933">
            <div class="v168_3930"><span class="v168_3929">맛있고 친절해요! 야곱 굿굿!!</span></div>
          </div>
        </div>
      </div>
      <div class="v168_4084">
        <div class="v168_3939"><span class="v168_3940">블로그리뷰 1,073</span></div>
        <div class="v168_4020">
          <div class="v168_3997">
            <div class="name"></div>
            <span class="v168_3995">쩡군</span><span class="v168_3996">Allez~! • 3.8.수</span>
          </div>
          <div class="v168_4019">
            <div class="v168_4008">
              <span class="v168_3999">오래간만에 즐긴 소곱창,”그저 최고</span
              ><span class="v168_4001">였어요.” 홍대 연남동 맛집진짜 추천합니다.</span
              ><span class="v168_4005"
                >오래간만에 소곱창을 먹을 기회가 생겼습니 다! 홍대에 일정이 있어서 마무리하고 이
                먹었는데 너무 맛있었어요!</span
              >
            </div>
            <div class="v168_4017"><div class="v168_4016"></div></div>
          </div>
        </div>
        <div class="v168_4052">
          <div class="v168_4053">
            <div class="name"></div>
            <span class="v168_4055">쩡군</span><span class="v168_4056">Allez~! • 3.8.수</span>
          </div>
          <div class="v168_4057">
            <div class="v168_4058">
              <span class="v168_4059">오래간만에 즐긴 소곱창,”그저 최고</span
              ><span class="v168_4060">였어요.” 홍대 연남동 맛집진짜 추천합니다.</span
              ><span class="v168_4061"
                >오래간만에 소곱창을 먹을 기회가 생겼습니 다! 홍대에 일정이 있어서 마무리하고 이
                먹었는데 너무 맛있었어요!</span
              >
            </div>
            <div class="v168_4062"><div class="v168_4063"></div></div>
          </div>
        </div>
        <div class="v168_4066">
          <div class="v168_4067">
            <div class="name"></div>
            <span class="v168_4069">쩡군</span><span class="v168_4070">Allez~! • 3.8.수</span>
          </div>
          <div class="v168_4071">
            <div class="v168_4072">
              <span class="v168_4073">오래간만에 즐긴 소곱창,”그저 최고</span
              ><span class="v168_4074">였어요.” 홍대 연남동 맛집진짜 추천합니다.</span
              ><span class="v168_4075"
                >오래간만에 소곱창을 먹을 기회가 생겼습니 다! 홍대에 일정이 있어서 마무리하고 이
                먹었는데 너무 맛있었어요!</span
              >
            </div>
            <div class="v168_4076"><div class="v168_4077"></div></div>
          </div>
        </div>
        <div class="name"></div>
      </div>
      <div class="v168_4188">
        <div class="v168_4158">
          <span class="v168_4085">지도</span>
          <div class="v168_4086">
            <div class="v168_4087">
              <div class="name"></div>
              <div class="name"></div>
            </div>
            <div class="v168_4111">
              <div class="name"></div>
              <span class="v168_4110">마포곱창타운 연남점</span>
            </div>
          </div>
        </div>
        <div class="v168_4135">
          <div class="v168_4136">
            <div class="name"></div>
            <div class="v168_4138">
              <span class="v168_4139">서울 마포구 동교로 27길 20</span>
              <div class="name"></div>
            </div>
            <div class="v168_4141">
              <div class="name"></div>
              <span class="v168_4143">거리뷰</span>
            </div>
          </div>
          <div class="v168_4144">
            <div class="v168_4145"><span class="v168_4146">2</span></div>
            <div class="v168_4147"><span class="v168_4148">공항</span></div>
            <div class="v168_4149"><span class="v168_4150">경의중앙</span></div>
            <div class="v168_4151"><span class="v168_4152">홍대입구역 2번 출구에서 314m</span></div>
          </div>
        </div>
        <div class="v168_4187">
          <div class="v168_4174">
            <div class="name"></div>
            <span class="v168_4159">대중교통</span>
          </div>
          <div class="v168_4175">
            <div class="name"></div>
            <span class="v168_4177">자동차</span>
          </div>
          <div class="v168_4179">
            <div class="name"></div>
            <span class="v168_4181">도보</span>
          </div>
        </div>
      </div>
    </div>

    <div class="v63_2448">
      <div class="v63_2417">
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
      </div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="v44_986">
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
      </div>
      <div class="v44_1172">
        <div class="v44_1146">
          <span class="v44_989">이벤트,혜택 알림을 받아보세요!</span>
          <div class="v44_1145">
            <div class="name"></div>
            <span class="v44_1142">알림받기</span>
          </div>
        </div>
        <div class="name"></div>
      </div>
    </div>
  </body>
</html>
